@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    font-family: 'Tektur', sans-serif;
}
.hero-wrapper::before {
    width: 100%;
    height: 100vh;
    background: url(/bg.jpg) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form::before {
    width: 30%;
    height: 80vh;
    background: #cfcfcf69;
    content: "";
    position: absolute;
    filter: blur(10px);
    z-index: -1;
}

form {
    width: 30%;
    height: 80vh;
    border: 4px solid #fff;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    box-shadow: 4px 8px 20px 0px #575757c7;
}

.input-field {
    max-width: 100%;
    padding: .8rem 1rem;
}

.input-field h2 {
    font-size: 1.8rem;
    color: crimson;
}

.input-field label {
    margin-top: 4rem;
    font-size: 1.2rem;
}

.input-field input {
    width: 100%;
    height: 2.5rem;
    padding: 1rem .5rem;
    font-size: 1rem;
    background: transparent;
    border-bottom: 2px solid #65656559;
    border-bottom-left-radius: 1rem;
}

.option-text {
    margin: 1.5rem 0;
    padding: 0 1rem;
}

span {
    height: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span em {
    font-weight: .8rem;
}

span .check {
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    cursor: pointer;
}

button {
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: crimson;
    color: #fff;
}

button:first-child {
    background-color: crimson;
    color: #fff;
    margin-right: 1rem;
}